.App {
    text-align: center;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: darkorange;
    min-height: 100vh;
}
